<div style="margin-top: 20px;">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase">Mejores Habitaciones</h2>
    </div>
    <ul class="timeline">
      <li><a href="../../assets/img/hotel_room_1.jpg" target="_blank">
        <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/hotel_room_2.jpg"
                                         alt="..."/></div>
      </a>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4>Habitación tipo 1</h4>
          </div>
          <div class="timeline-body">
            <p class="text-muted">Las habitaciones están ubicadas en los pisos del 8 al 11. Cuentan con una cama King o
              dos camas dobles, Internet inalámbrico, Smart TV curvo de 49 " con señal digital, carta de almohadas,
              máquina de café ILLY, despertador con puerto para iPod, caja de seguridad digital, dos líneas telefónicas
              con correo de voz y minibar.</p>
          </div>
        </div>
      </li>
      <li class="timeline-inverted">
        <a href="../../assets/img/hotel_room_2.jpg" target="_blank">
          <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/hotel_room_2.jpg"
                                           alt="..."/></div>
        </a>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4>Habitación tipo 2</h4>
          </div>
          <div class="timeline-body">
            <p class="text-muted">Las habitaciones están situadas entre los pisos 2 y 9 y cuentan con una cama tamaño
              king o dos camas dobles.</p>
          </div>
        </div>
      </li>
      <li>
        <a href="../../assets/img/hotel_room_3.jpg" target="_blank">
          <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/hotel_room_2.jpg"
                                           alt="..."/></div>
        </a>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4>Habitación tipo 3</h4>
          </div>
          <div class="timeline-body">
            <p class="text-muted">Se encuentra desde los pisos 12 al 14 en una ubicación privilegiada para brindarle una
              vista espectacular de una de las áreas verdes más grandes de la ciudad, el Lima Golf Club. </p>
          </div>
        </div>
      </li>
      <li class="timeline-inverted">
        <div class="timeline-image">
          <h4>
            Realiza Tu
            <br/>
            Reserva
            <br/>
            Ahora!
          </h4>
        </div>
      </li>
    </ul>
  </div>
</div>
