<mat-nav-list appAccordion color="primary">
  <mat-list-item appAccordionLink *ngFor="let menuItem of menuItems.getmenuItem()" routerLinkActive="selected"
                 group="{{menuItem}}">
    <a class="" appAccordionToggle [routerLink]="['/compucenter/',menuItem.state]"
       *ngIf="menuItem.type === 'link' && (menuItem.role === '' || menuItem.role === userRole)">
      <mat-icon>{{menuItem.icon}}</mat-icon>
      <span>{{menuItem.name}}</span>
    </a>
  </mat-list-item>
</mat-nav-list>

