<mat-toolbar color="primary">
  <mat-toolbar-row fxLayout="row">
    <span>{{dialogData.action}} Cliente</span>
    <span class="spacer"></span>
    <button class="class-dialog-close" mat-icon-button mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-dialog-content class="mat-typography">
  <form [formGroup]="customerForm">
    <div fxFlex fxLayout="column">
      <mat-form-field appearance="fill" fxFlex>
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="nombre" required>
        <mat-error *ngIf="customerForm.controls.nombre.touched && customerForm.controls.nombre.invalid">
          <span *ngIf="customerForm.controls.nombre.errors.required">Este campo es obligatorio.</span>

        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" fxFlex>
        <mat-label>Dirección</mat-label>
        <input matInput formControlName="direccion" required>
        <mat-error *ngIf="customerForm.controls.direccion.touched && customerForm.controls.direccion.invalid">
          <span *ngIf="customerForm.controls.direccion.errors.required">Este campo es obligatorio.</span>

        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" fxFlex>
        <mat-label>Teléfono</mat-label>
        <input matInput formControlName="telefono" required>
        <mat-error *ngIf="customerForm.controls.telefono.touched && customerForm.controls.telefono.invalid">
          <span *ngIf="customerForm.controls.telefono.errors.required">Este campo es obligatorio.</span>

        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" fxFlex>
        <mat-label>Correo electrónico</mat-label>
        <input matInput formControlName="correo" required>
        <mat-error *ngIf="customerForm.controls.correo.touched && customerForm.controls.correo.invalid">
          <span *ngIf="customerForm.controls.correo.errors.required">Este campo es obligatorio.</span>
        </mat-error>
      </mat-form-field>

<!--      <mat-form-field appearance="fill" fxFlex>-->
<!--        <mat-label>Tipo de Documento</mat-label>-->
<!--        <mat-select formControlName="doc" required>-->
<!--          <mat-option value="DNI">DNI</mat-option>-->
<!--          <mat-option value="Carnet de Extranjeria">Carnet de Extranjeria</mat-option>-->
<!--          <mat-option value="Pasaporte">Pasaporte</mat-option>-->
<!--        </mat-select>-->
<!--        <mat-error *ngIf="customerForm.controls.doc.touched && customerForm.controls.doc.invalid">-->
<!--          <span *ngIf="customerForm.controls.doc.errors.required">This field is mandatory</span>-->
<!--          <span *ngIf="customerForm.controls.doc.errors.pattern">This field is invalid.</span>-->
<!--        </mat-error>-->
<!--      </mat-form-field>-->
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-raised-button color="primary" type="submit" (click)="handleSubmit()"
          [disabled]="!(customerForm.valid && customerForm.dirty)">
    <mat-icon>save</mat-icon>
    {{action}}
  </button>
  <button mat-raised-button color="warn" mat-dialog-close="">
    <mat-icon>cancel</mat-icon>
    Close
  </button>
</mat-dialog-actions>
