<body class="pt-4">
<mat-card class="py-4 mx-3 px-3">
  <b><span>Dashboard</span></b>
</mat-card>
<br>
<div class="row mx-0">
  <div class="column">
    <div class="card">
      <div class="container">
        <h2 class="title">Clientes Totales:</h2>
        <h1 class="title">{{data?.customer}}</h1>
        <p><button class="button" [routerLink]="['/hotel/customer']">Ver Clientes</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <div class="container">
        <h2 class="title">Total Habitaciones</h2>
        <h1 class="title">{{data?.room}}</h1>
        <p><button class="button" [routerLink]="['/hotel/room']">Ver Habitaciones</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <div class="container">
        <h2 class="title">Total Reservaciones:</h2>
        <h1 class="title">{{data?.reservation}}</h1>
        <p><button class="button" [routerLink]="['/hotel/reservation-view']">Ver Reservaciones</button></p>
      </div>
    </div>
  </div>

<!--  <div class="column">-->
<!--    <div class="card">-->
<!--      <div class="container">-->
<!--        <h2 class="title">Total Bill:</h2>-->
<!--        <h1 class="title">{{data?.bill}}</h1>-->
<!--        <p><button class="button" [routerLink]="['/hotel/bill']">View Bill</button></p>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
</div>
</body>
