<div class="bg-image"></div>
<app-best-seller style="z-index: 1; position: relative"></app-best-seller>

<div class="wrapper sticky" style="z-index: 4; position: absolute; top: 0">
  <nav class="navbar-fixed-top">
    <a href="#" class="logo">
      <mat-icon>luggage</mat-icon> Sistema Administrativo de Hotel
    </a>
    <ul>
      <li>
        <a (click)="handleLoginAction()" class="text-white">Iniciar Sesión</a>
        <a (click)="handleSignupAction()" class="text-white">Registro</a>
      </li>
    </ul>
  </nav>
</div>
<div class="footer" id="signup">
  <h2>Todos los derechos reservados @La Casa del Turista</h2>
</div>
